{% extends "base.html" %}

{% block main %}

<div class = "mx-5">
    {% if allSubmissions %}
        {% for prompt, submissions in allSubmissions.items() %} <!--allSubmissions is a dictionary of dictionaries { prompt:{name:text, name:text}}-->
            <div class = "mb-2 mt-4">
                <h4 style ="text-decoration: underline; text-decoration-color: #fb9797; text-decoration-thickness: 4px;">
                    Prompt: {{prompt}} 
                </h4>
            </div>

            {% for name, text in submissions.items() %}
                <div class="card m-2">
                    <div class="card-body">
                        <h5 class="card-header" style="font-family: 'Times New Roman', Times, serif;">{{name}}</h5>
                        <p class="card-text" style="font-family: 'Times New Roman', Times, serif; 
                        white-space: pre-wrap; font-size: 16px;">{{text}}</p>
                    </div>
                </div>
            {%  endfor %}
        {%  endfor %}
    {% endif %}
</div>
{% endblock %}